@font-face {
    font-family: "Manrope";
    src: url("Manrope-Medium.ttf") format("truetype"),
      url("Manrope-Medium.woff") format("woff");
    font-weight: medium;
  }
  
  @font-face {
    font-family: "Manrope";
    src: url("Manrope-Bold.ttf") format("truetype"),
      url("Manrope-Bold.woff") format("woff");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Manrope";
    src: url("Manrope-SemiBold.ttf") format("truetype"),
      url("Manrope-SemiBold.woff") format("woff");
    font-weight: 600;
  }
  

body {
    background-color: #1D1E2A;
}

/* Navbar Section */

.navbar {
    margin-top: 1%;
    padding: 0  0 4.5rem;
}

.navbar-nav {
    margin-right: 9%;
    align-items: center;
}

.navbar-brand {
    font-family: "Satisfy", sans-serif;
    font-size: 1.7rem;
    margin-left: 9%;
}

.nav-item {
    padding: 0 18px;
    vertical-align: center;
}

.nav-link {
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-toggler {
    margin-right: 3%;
}

#hire-me {
    border-radius: 25px;
    background-color: #FF9100;
    padding: 3% 20px;
    position: relative;   
}

@media (max-width: 992px) {
    #hire-me {
        display: none;
    }
}

/* Title section */

.title {
    color: #fff;
    text-align: center;
    font-family: "Manrope";
    margin-top: 9%;
}

.title h1 {
    font-size: 3.2rem;
}

/* About me section */

.about-me {
    color: #fff;
    margin: 6em auto;
    background-color: #323647;
    padding: 1em 4% 2em 8%;
    font-family: "Manrope", sans-serif;
    font-size:  1.2rem;
}

.about-me h3 {
    margin: 1.2em auto;
    font-size: 1.5em;
}

#about-me-text {
    white-space: nowrap;
}

/* Portfolio section */

.portfolio {
    color: #fff;
    font-family: "Manrope", sans-serif;
    width: 80%;
    margin-top: 5%;
}

.portfolio h2 {
    font-size: 2.5rem;
    margin-left: -1rem;
}

.orange-hr {
    position: relative;
    top: -10px;
    color: #FF9100;
    background-color: #FF9100;
    border: 2px solid;
    opacity: 100%;
    width: 22em;
    margin-left: 7em;
    border-radius: 7px 7px 7px 7px;
}

.col-md-6 p {
    margin-bottom: 1.5em;
    width: 95%;
}

.col-md-6 h4 {
    margin-top: 4%;
}

.col-md-6 h3 {
    margin-top: 5%;
    margin-bottom: 0.7em;
}

.link-arrow {
    margin-right: 3%;
    width: auto;
    height: 4.5%;
}

.project-link {
    color: #fff;
}

.languages {
    margin-top: 5%;
    margin-bottom: 3%;
}


.lang {
    
    color: black;
    display: inline-block;
    border-radius: 25px;
    padding: 1% 15px;
    margin: 1.5% 0% 1.5% 1%;
}

.first {
    background-color: #E9FECA;
}

.second { 
    background-color: #CAD3FE;
}

.third {
    background-color: #FEEBCA;
    position: relative;
}

.fourth {
    position: relative;
    background-color: #CAFEFC;
}

@media (min-width: 992px) {
    .fourth {
        margin-bottom: 5%;
    }
}


/* Contact me section */

.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
    text-decoration: none;
    color: #fff;
}

span.protectedNumber:before {
    content: attr(title);
}

.reach-out {
    color: #fff;
    font-family: "Manrope", sans-serif;
    width: 80%;
    margin-top: 4em;
}


.orange-hr2 {
    position: relative;
    top: -10px;
    color: #FF9100;
    background-color: #FF9100;
    border: 2px solid;
    opacity: 100%;
    width: 13em;
    margin-left: 7em;
    border-radius: 7px 7px 7px 7px;
}

.lowerr-row {
    margin-top: 5%;
}

.link-socials {
    color: #fff;
}

.reach h4 {
    max-width: 100%;
    font-size: 1rem;
    margin-bottom: 30px;
}

.reach a {
    margin-bottom: 30px;
}

.reach h2 {
    margin-bottom: 3%;
    font-size: 1.5rem;
}

.upper-row {
    margin-top: 3%;
}

.icon {
    margin-right: 3%;
    color: #fff;
}

/* Footer section */

.footer {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 1%;
}

.footer h3 {
    color: #bebaba;
    font-size: 0.9rem;
}

@media only screen and (max-width: 580px) {
    .orange-hr {
        width: 70%;
        margin-left: 10%;
    }
    .orange-hr2 {
        width: 80%;
        margin-left: 10%;
    }
    .footer {
        margin-top: 4em;
    }
    .reach h2 {
        margin: 0.7em auto;
        font-size: 1.5rem;
    }
    .col-md-6 h3 {
    margin-top: 1.5em;
}
}